.label-div {
  display: flex;
  padding-right: 10px;
  height: 100%;
}

.labels {
  display: flex;
  border: solid 1px;
  align-items: center;
  text-align: center;
  width: 100%;
}

.labels label {
  padding: 5px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}