.title {
  padding: 20px;
  font-size: 22px;
}

.title a {
  text-decoration: none;
  color: blue;
}

.issues-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 48px; 
  border-top: solid orange 3px;
  border-right: solid 1px;
  border-left: solid 1px;
  height: 40px;
  width: 120px;
  cursor: pointer;
}

.issues-border {
  border-bottom: solid 1px #C2C2C2;
  display: flex;
}

select {
  border-top: solid orange 3px;
  border-right: solid 1px;
  border-left: solid 1px;
  height: 43px;
  width: 100%;
  border-bottom: none;
  background-color: white;
  font-size: 18px;
  outline: none;
  cursor: pointer;
}

.issues-container {
  width: 100%;
  height: 100%;
  margin-left: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-bottom: solid 1px #C2C2C2;
  border-left: solid 1px #C2C2C2;
}

.issues-title {
  padding-left: 20px;
  padding-top: 15px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.issues-title p {
  margin: 0;
}

.label-flex {
  display: flex;
  justify-content: space-around;
}

.label-div {
  display: flex;
  padding-right: 10px;
  height: 100%;
}

.labels {
  display: flex;
  border: solid 1px;
  align-items: center;
  text-align: center;
  width: 100%;
}

.labels label {
  padding: 5px;
}

.numberFooter {
  padding-left: 20px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

div button:focus {
  background-color: #C2C2C2;
  color: white;
  outline: none;
}

.issues-border button {
  border-top: solid orange 3px;
  border-right: solid 1px;
  border-left: solid 1px;
  height: 43px;
  width: 120px;
  border-bottom: none;
  background-color: white;
  font-size: 18px;
  cursor: pointer;
}

.title input[type=text] {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
  border: 1px solid #ccc;
}

